In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('sp500.csv', sep=',', parse_dates=["date"],
                  usecols=['tic','date','open','low','high','close','adj_close','ema_50','ema_200','bb_bbm','bb_bbh','bb_bbl','bb_bbhi','bb_bbli','stoch','stoch_signal','macd','macd_diff','macd_signal','obv','daily_returns'])

In [20]:
df.fillna(0, inplace=True)

In [4]:
obs=['daily_returns','ema_50', 'ema_200', 'bb_bbm', 'bb_bbh', 'bb_bbl','bb_bbhi', 'bb_bbli', 'stoch', 'stoch_signal', 'macd','macd_signal', 'obv']

In [7]:
scaler = StandardScaler()

In [17]:
df_save = df

In [19]:
df.iloc[:,7:-1]

,ema_50,ema_200,bb_bbm,bb_bbh,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_diff,macd_signal,obv
0,22.660000,22.660000,22.660000,22.660000,22.660000,0.0,0.0,-796.503497,-796.503497,0.000000,0.000000,0.000000,2.574600e+06
1,22.662745,22.660697,22.695000,22.765000,22.625000,0.0,0.0,-531.188119,-663.845808,0.005584,0.004467,0.001117,4.648300e+06
2,22.657147,22.659297,22.636667,22.811277,22.462056,0.0,0.0,-541.584158,-623.091925,-0.006857,-0.006379,-0.000478,1.971700e+06
3,22.648632,22.657114,22.587500,22.815261,22.359739,0.0,0.0,-545.544554,-603.705082,-0.022907,-0.017944,-0.004964,4.145000e+05
4,22.641627,22.655253,22.564000,22.788357,22.339643,0.0,0.0,-544.059406,-591.775947,-0.032829,-0.022292,-0.010537,1.800700e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2502939,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,50.000000,50.000000,0.000000,0.000000,0.000000,6.125248e+09
2502940,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,50.000000,50.000000,0.000000,0.000000,0.000000,6.126930e+09
2502941,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,50.000000,50.000000,0.000000,0.000000,0.000000,6.128530e+09
2502942,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,50.000000,50.000000,0.000000,0.000000,0.000000,6.130599e+09
2502943,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,50.000000,50.000000,0.000000,0.000000,0.000000,6.132114e+09

In [27]:
df.dtypes

tic                      object
date             datetime64[ns]
open                    float64
low                     float64
high                    float64
close                   float64
adj_close               float64
ema_50                  float64
ema_200                 float64
bb_bbm                  float64
bb_bbh                  float64
bb_bbl                  float64
bb_bbhi                 float64
bb_bbli                 float64
stoch                   float64
stoch_signal            float64
macd                    float64
macd_diff               float64
macd_signal             float64
obv                     float64
daily_returns           float64
dtype: object

In [28]:
df.iloc[:,7:-1] = scaler.fit_transform(df.iloc[:,7:-1].to_numpy())

In [14]:
df_save.iloc[:,7:-1].head()

,ema_50,ema_200,bb_bbm,bb_bbh,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_diff,macd_signal,obv
0,22.660000,22.660000,22.660000,22.660000,22.660000,0.0,0.0,-796.503497,-796.503497,0.000000,0.000000,0.000000,2574600.0
1,22.662745,22.660697,22.695000,22.765000,22.625000,0.0,0.0,-531.188119,-663.845808,0.005584,0.004467,0.001117,4648300.0
2,22.657147,22.659297,22.636667,22.811277,22.462056,0.0,0.0,-541.584158,-623.091925,-0.006857,-0.006379,-0.000478,1971700.0
3,22.648632,22.657114,22.587500,22.815261,22.359739,0.0,0.0,-545.544554,-603.705082,-0.022907,-0.017944,-0.004964,414500.0
4,22.641627,22.655253,22.564000,22.788357,22.339643,0.0,0.0,-544.059406,-591.775947,-0.032829,-0.022292,-0.010537,1800700.0

In [30]:
df.iloc[:,7:-1].head()

,ema_50,ema_200,bb_bbm,bb_bbh,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_diff,macd_signal,obv
0,-0.204337,-0.201260,-0.204766,-0.215977,-0.191754,-0.220206,-0.193997,-3.611644,-3.629960,-0.051227,-0.002233,-0.054111,-0.185145
1,-0.204310,-0.201253,-0.204425,-0.215009,-0.192115,-0.220206,-0.193997,-2.283037,-2.961722,-0.048859,0.003964,-0.053604,-0.184213
2,-0.204365,-0.201267,-0.204994,-0.214583,-0.193795,-0.220206,-0.193997,-2.335096,-2.756432,-0.054134,-0.011080,-0.054328,-0.185416
3,-0.204449,-0.201290,-0.205473,-0.214546,-0.194850,-0.220206,-0.193997,-2.354929,-2.658775,-0.060939,-0.027121,-0.056364,-0.186116
4,-0.204518,-0.201309,-0.205702,-0.214794,-0.195057,-0.220206,-0.193997,-2.347492,-2.598684,-0.065146,-0.033152,-0.058894,-0.185493

In [16]:
x.head()

,daily_returns,ema_50,ema_200,bb_bbm,bb_bbh,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_signal,obv
0,-41.707388,22.66,22.66,22.66,22.66,22.66,0.0,0.0,-796.503497,-796.503497,0.0,0.0,2574600.0
0,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,50.000000,50.000000,0.0,0.0,0.0
0,117.782520,53.07,53.07,53.07,53.07,53.07,0.0,0.0,-27.062706,-27.062706,0.0,0.0,7923861.0
0,-65.062144,33.57,33.57,33.57,33.57,33.57,0.0,0.0,-136.936937,-136.936937,0.0,0.0,764200.0
0,-88.970729,2.57,2.57,2.57,2.57,2.57,0.0,0.0,-205.882353,-205.882353,0.0,0.0,44225700.0

In [24]:
u=x.unstack()

In [22]:
y=x.values[:, np.newaxis, :]

In [1]:
import tensorflow as tf

In [4]:
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]