In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('sp500.csv', sep=',', parse_dates=["date"],
                  usecols=['tic','date','open','low','high','close','adj_close','ema_50','ema_200','bb_bbm','bb_bbh','bb_bbl','bb_bbhi','bb_bbli','stoch','stoch_signal','macd','macd_diff','macd_signal','obv','daily_returns'])

In [8]:
obs=['daily_returns','ema_50', 'ema_200', 'bb_bbm', 'bb_bbh', 'bb_bbl','bb_bbhi', 'bb_bbli', 'stoch', 'stoch_signal', 'macd','macd_signal', 'obv']

In [5]:
df['daily_returns'].fillna(0, inplace=True)
df.sort_values(['date', 'tic'], ignore_index=True, inplace=True )
df.index = df.date.factorize()[0]

In [14]:
df.head()

,daily_returns,ema_50,ema_200,bb_bbm,bb_bbh,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_signal,obv
0,-41.707388,22.66,22.66,22.66,22.66,22.66,0.0,0.0,-796.503497,-796.503497,0.0,0.0,2574600.0
0,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,50.000000,50.000000,0.0,0.0,0.0
0,117.782520,53.07,53.07,53.07,53.07,53.07,0.0,0.0,-27.062706,-27.062706,0.0,0.0,7923861.0
0,-65.062144,33.57,33.57,33.57,33.57,33.57,0.0,0.0,-136.936937,-136.936937,0.0,0.0,764200.0
0,-88.970729,2.57,2.57,2.57,2.57,2.57,0.0,0.0,-205.882353,-205.882353,0.0,0.0,44225700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,-16.291008,71.10,71.10,71.10,71.10,71.10,0.0,0.0,-253.275109,-253.275109,0.0,0.0,1792400.0
0,-55.504971,34.88,34.88,34.88,34.88,34.88,0.0,0.0,65.151515,65.151515,0.0,0.0,561400.0
0,121.586199,66.67,66.67,66.67,66.67,66.67,0.0,0.0,-747.938144,-747.938144,0.0,0.0,693400.0
0,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,50.000000,50.000000,0.0,0.0,0.0
0,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,50.000000,50.000000,0.0,0.0,0.0

In [15]:
x=df.loc[0, :][obs]
x

,daily_returns,ema_50,ema_200,bb_bbm,bb_bbh,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_signal,obv
0,-41.707388,22.66,22.66,22.66,22.66,22.66,0.0,0.0,-796.503497,-796.503497,0.0,0.0,2574600.0
0,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,50.000000,50.000000,0.0,0.0,0.0
0,117.782520,53.07,53.07,53.07,53.07,53.07,0.0,0.0,-27.062706,-27.062706,0.0,0.0,7923861.0
0,-65.062144,33.57,33.57,33.57,33.57,33.57,0.0,0.0,-136.936937,-136.936937,0.0,0.0,764200.0
0,-88.970729,2.57,2.57,2.57,2.57,2.57,0.0,0.0,-205.882353,-205.882353,0.0,0.0,44225700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,-16.291008,71.10,71.10,71.10,71.10,71.10,0.0,0.0,-253.275109,-253.275109,0.0,0.0,1792400.0
0,-55.504971,34.88,34.88,34.88,34.88,34.88,0.0,0.0,65.151515,65.151515,0.0,0.0,561400.0
0,121.586199,66.67,66.67,66.67,66.67,66.67,0.0,0.0,-747.938144,-747.938144,0.0,0.0,693400.0
0,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,50.000000,50.000000,0.0,0.0,0.0
0,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,50.000000,50.000000,0.0,0.0,0.0

In [16]:
x.head()

,daily_returns,ema_50,ema_200,bb_bbm,bb_bbh,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_signal,obv
0,-41.707388,22.66,22.66,22.66,22.66,22.66,0.0,0.0,-796.503497,-796.503497,0.0,0.0,2574600.0
0,0.000000,0.00,0.00,0.00,0.00,0.00,0.0,0.0,50.000000,50.000000,0.0,0.0,0.0
0,117.782520,53.07,53.07,53.07,53.07,53.07,0.0,0.0,-27.062706,-27.062706,0.0,0.0,7923861.0
0,-65.062144,33.57,33.57,33.57,33.57,33.57,0.0,0.0,-136.936937,-136.936937,0.0,0.0,764200.0
0,-88.970729,2.57,2.57,2.57,2.57,2.57,0.0,0.0,-205.882353,-205.882353,0.0,0.0,44225700.0

In [24]:
u=x.unstack()

In [22]:
y=x.values[:, np.newaxis, :]

In [1]:
import tensorflow as tf

In [4]:
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]