In [112]:
import gym
import PortfolioAllocationGym
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)
import pandas as pd
from ta.trend import EMAIndicator, MACD
from ta.volatility import BollingerBands
from ta.momentum import StochasticOscillator
from ta.volume import OnBalanceVolumeIndicator
from ta.others import DailyReturnIndicator

In [2]:
env_kwargs = {'filename':'yahoo_daily_sp500_prices.csv',
    'date_from':'2017-01-01',
    'date_to':'2017-12-31',
    'investment':1000000,
    'risk_free_rate': 0.5, # approx US Treasury Note return
    'sample_size':10,
    'report_point':252/4, # 1 year
    'reward_function':'psr'}

portfolio =  gym.make('PortfolioAllocation-v0', **env_kwargs)
portfolio.reset()

reset

array([[-5.5330642e+09, -3.9672827e+11,  1.9987680e+02,  1.9987680e+02,
         1.9987680e+02,  1.0000000e+00,  0.0000000e+00,  9.9331810e+01,
         2.2794462e+01,  1.0042476e+07,  1.4768212e+07, -2.4503056e+12],
       [-4.7148652e+09, -3.8117219e+11,  9.6071320e+02,  9.6071320e+02,
         9.6071320e+02,  1.0000000e+00,  0.0000000e+00,  1.0000000e+02,
         3.7249660e+01,  7.3826795e+06,  1.0855343e+07, -2.4503093e+12],
       [-1.0972415e+08, -1.4889530e+11,  6.3786029e+02,  6.3786029e+02,
         6.3786029e+02,  1.0000000e+00,  0.0000000e+00,  1.0000000e+02,
         5.9694778e+01,  6.2418623e+03,  8.0146035e+03, -2.4503373e+12],
       [-1.6079797e+07, -9.2133573e+10,  3.0625051e+03,  3.0625051e+03,
         3.0625051e+03,  1.0000000e+00,  0.0000000e+00,  9.8523964e+01,
         3.6913307e+01,  4.8966919e+03,  1.1208610e+03, -2.4504222e+12],
       [-9.5590190e+06, -8.0901980e+10,  3.1500769e+03,  3.1500769e+03,
         3.1500769e+03,  0.0000000e+00,  1.0000000e+00,  1.3187019e+00,
         3.9067659e-01, -4.4428549e+02,  9.6065651e+01, -2.4504723e+12],
       [-6.4071370e+06, -7.3203081e+10,  2.8049149e+02,  2.8049149e+02,
         2.8049149e+02,  1.0000000e+00,  0.0000000e+00,  9.7769699e+01,
         2.3832010e+01, -3.4881519e+02, -4.6390128e+02, -2.4504899e+12],
       [-3.5148670e+06, -6.3006396e+10,  1.6446963e+03,  1.6446963e+03,
         1.6446963e+03,  1.0000000e+00,  0.0000000e+00,  1.0000000e+02,
         2.2956696e+01,  2.0514766e+03,  1.4899936e+02, -2.4504938e+12],
       [-1.3379943e+04, -1.5693155e+10,  1.3662741e+02,  1.3662741e+02,
         1.3662741e+02,  1.0000000e+00,  0.0000000e+00,  9.9091850e+01,
         3.3900818e+01,  1.2012822e+02,  1.6783689e+01, -2.4504859e+12],
       [-3.1704465e+03, -1.1169890e+10,  3.3772275e+02,  3.3772275e+02,
         3.3772275e+02,  1.0000000e+00,  0.0000000e+00,  9.9881821e+01,
         4.4529438e+01,  4.4112888e+02,  8.0023552e+01, -2.4505187e+12],
       [-2.6216610e+12, -1.8505986e+12,  3.6650171e+02,  3.6650171e+02,
         3.6650171e+02,  1.0000000e+00,  0.0000000e+00,  9.8835281e+01,
         5.1495098e+01,  1.2727597e+12,  1.6292226e+12, -2.4506513e+12]],
      dtype=float32)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [25]:
#Create test data
df = portfolio.data
df.head()

,Unnamed: 0,date,open,high,low,close,volume,tic,day,ema_50,...,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_diff,macd_signal,obv,daily_returns
0,1094278,2017-01-03,1476.910034,1487.359985,1459.489990,1477.569946,458500.0,BKNG,1,-5.533064e+09,...,199.876795,1.0,0.0,99.331811,22.794463,1.004248e+07,-4.725736e+06,1.476821e+07,-2.450305e+12,3332.583892
0,1094282,2017-01-03,14800.000000,15200.000000,14200.000000,15200.000000,14750.0,BMC,1,-4.714865e+09,...,960.713225,1.0,0.0,100.000000,37.249661,7.382679e+06,-3.472663e+06,1.085534e+07,-2.450309e+12,41607.004695
0,1094376,2017-01-03,11530.200195,11530.200195,11530.200195,11530.200195,0.0,EMC,1,-1.097241e+08,...,637.860308,1.0,0.0,100.000000,59.694777,6.241863e+03,-1.772741e+03,8.014603e+03,-2.450337e+12,15501.746280
0,1094424,2017-01-03,61000.000000,61000.000000,59900.000000,60100.000000,119390.0,GAS,1,-1.607980e+07,...,3062.505218,1.0,0.0,98.523962,36.913309,4.896692e+03,3.775831e+03,1.120861e+03,-2.450422e+12,136018.344136
0,1094437,2017-01-03,800.619995,811.440002,796.890015,808.010010,1959000.0,GOOGL,1,-9.559019e+06,...,3150.076915,0.0,1.0,1.318702,0.390677,-4.442855e+02,-5.403511e+02,9.606565e+01,-2.450472e+12,2.781947

In [6]:
df.loc[df['tic']=='BMC',['date','tic','close','daily_returns']]

          date  tic    close  daily_returns
0   2017-01-03  BMC  15200.0   41607.004695
1   2017-01-04  BMC  14700.0   39631.872122
2   2017-01-05  BMC  15100.0   40734.256350
3   2017-01-06  BMC  15000.0   40285.184211
4   2017-01-09  BMC  15000.0   40933.642565
..         ...  ...      ...            ...
246 2017-12-22  BMC  15000.0   40573.754218
247 2017-12-26  BMC  14900.0   40700.175069
248 2017-12-27  BMC  15000.0   41017.742222
249 2017-12-28  BMC  15000.0   40627.387225
250 2017-12-29  BMC  15000.0   40702.701336

[251 rows x 4 columns]

In [23]:
close_s = df.loc[df['tic']=='BMC',['close']].iloc[:,0]

close_s
daily_returns = DailyReturnIndicator(close=close_s)
daily_returns.daily_return()

0     -15.255442
1      -3.289474
2       2.721088
3      -0.662252
4       0.000000
         ...
246    -0.662252
247    -0.666667
248     0.671141
249     0.000000
250     0.000000
Name: d_ret, Length: 251, dtype: float64

In [82]:
yahoo = pd.read_csv('yahoo_daily_sp500_prices.csv', sep=',', parse_dates=["date"],
                    usecols=['date','open','high','low','close','volume','tic'])

In [114]:
def set_tas(df):
# Add Tech Indicators
    # Exponential Moving Average
    ema_50 = EMAIndicator(close=df["close"], window=50, fillna=True)
    ema_200 = EMAIndicator(close=df["close"], window=200, fillna=True)
    df["ema_50"] = ema_50.ema_indicator()
    df["ema_200"] = ema_200.ema_indicator()

    # Bollinger
    bollinger = BollingerBands(close=df["close"], window=20, window_dev=2, fillna=True)
    # Bollinger Bands
    df["bb_bbm"] = bollinger.bollinger_mavg()
    df["bb_bbh"] = bollinger.bollinger_hband()
    df["bb_bbl"] = bollinger.bollinger_lband()
    # Bollinger Band crossing
    df["bb_bbhi"] = bollinger.bollinger_hband_indicator()
    df["bb_bbli"] = bollinger.bollinger_lband_indicator()

    # Stochastic
    stochastic = StochasticOscillator(close=df["close"], high=df["high"],
                                      low=df["low"], window=14, smooth_window=7, fillna=True)
    df["stoch"] = stochastic.stoch()
    df["stoch_signal"] = stochastic.stoch_signal()

    # MACD
    macd = MACD(close=df["close"], window_fast=12, window_slow=26, window_sign=9, fillna=True)
    df["macd"] = macd.macd()
    df["macd_diff"] = macd.macd_diff()
    df["macd_signal"] = macd.macd_signal()

    # On Balance Volume
    obv = OnBalanceVolumeIndicator(close=df["close"], volume=df["volume"], fillna=True)
    df["obv"] = obv.on_balance_volume()

    # Returns
    daily_returns = DailyReturnIndicator(close=df["close"])
    df["daily_returns"] = daily_returns.daily_return()

    return df

In [ ]:
#get unique tics
tics = yahoo.tic.unique()

# get unique dates
dates = yahoo.date.unique()

In [67]:
from itertools import product

          tic       date
0           A 2009-01-02
1           A 2009-01-05
2           A 2009-01-06
3           A 2009-01-07
4           A 2009-01-08
...       ...        ...
1851255  SHLD 2020-12-23
1851256  SHLD 2020-12-24
1851257  SHLD 2020-12-28
1851258  SHLD 2020-12-29
1851259  SHLD 2020-12-30

[1851260 rows x 2 columns]

In [115]:
all = pd.merge(temp, yahoo, on=['date','tic'], how='left')
all.loc[all['open'].isnull()]
count = 0
for tic in tics:
    count += 1
    # one row for each tic/date
    df = pd.DataFrame(product([tic],dates),columns=['tic','date'])
    df = pd.merge(df, yahoo.loc[yahoo.tic==tic], on=['tic','date'], how='left')
    df = set_tas(df)
    final = pd.concat([final,df]) if count > 1 else df

final

,tic,date,open,high,low,close,volume,ema_50,ema_200,bb_bbm,...,bb_bbl,bb_bbhi,bb_bbli,stoch,stoch_signal,macd,macd_diff,macd_signal,obv,daily_returns
0,A,2009-01-02,11.158798,11.659514,11.094421,10.643817,4236220.0,10.643817,10.643817,10.643817,...,10.643817,0.0,0.0,-79.739867,-79.739867,0.000000,0.000000,0.000000,4236220.0,-75.734051
1,A,2009-01-05,11.530758,12.224607,11.444921,11.004292,7171321.0,10.657953,10.647404,10.824054,...,10.463580,0.0,0.0,-7.974780,-43.857323,0.028756,0.023005,0.005751,11407541.0,3.386704
2,A,2009-01-06,12.231760,13.383405,12.081545,11.882536,11834210.0,10.705976,10.659694,11.176881,...,10.136437,0.0,0.0,34.430768,-17.761293,0.121017,0.092213,0.028804,23241751.0,7.980926
3,A,2009-01-07,12.768240,13.204578,12.653791,11.948078,9974171.0,10.754686,10.672513,11.369681,...,10.248096,0.0,0.0,37.294145,-3.997433,0.197151,0.134677,0.062474,33215922.0,0.551584
4,A,2009-01-08,12.989986,13.218884,12.732475,12.026726,6242909.0,10.804570,10.685988,11.501090,...,10.368546,0.0,0.0,40.730064,4.948066,0.260827,0.158683,0.102144,39458831.0,0.658245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3015,SHLD,2020-12-23,29.084999,29.084999,29.035999,28.927256,1100.0,27.872872,26.453719,29.050644,...,28.298731,0.0,0.0,27.024158,25.341183,0.331810,-0.183520,0.515330,16000.0,1.563525
3016,SHLD,2020-12-24,29.035999,29.035999,29.035999,28.927256,100.0,27.914221,26.478332,29.042624,...,28.289041,0.0,0.0,27.024158,23.192848,0.308166,-0.165731,0.473897,16100.0,0.000000
3017,SHLD,2020-12-28,29.035999,29.035999,29.035999,28.927256,100.0,27.953947,26.502699,29.037942,...,28.282715,0.0,0.0,27.024158,21.044513,0.286130,-0.150214,0.436344,16200.0,0.000000
3018,SHLD,2020-12-29,29.084999,29.084999,28.877001,28.768854,0.0,27.985905,26.525248,29.056322,...,28.347508,0.0,0.0,16.248542,17.356804,0.252968,-0.146701,0.399668,16200.0,-0.547586
3019,SHLD,2020-12-30,29.084999,29.084999,29.020000,28.953163,0.0,28.023836,26.549406,29.083919,...,28.439192,0.0,0.0,35.263572,17.473887,0.238806,-0.128690,0.367496,16200.0,0.640655

In [90]:
pd.DataFrame(product('A',dates),columns=['tic','date'])

     tic       date
0      A 2009-01-02
1      A 2009-01-05
2      A 2009-01-06
3      A 2009-01-07
4      A 2009-01-08
...   ..        ...
3015   A 2020-12-23
3016   A 2020-12-24
3017   A 2020-12-28
3018   A 2020-12-29
3019   A 2020-12-30

[3020 rows x 2 columns]

In [108]:
tic='GOOGL'
df = pd.DataFrame(product([tic],dates),columns=['tic','date'])
#df = pd.merge(df, yahoo.loc[yahoo.tic==tic], on=['tic','date'], how='left')
#final = df
#final = pd.concat([final,df])
#final
df

        tic       date
0     GOOGL 2009-01-02
1     GOOGL 2009-01-05
2     GOOGL 2009-01-06
3     GOOGL 2009-01-07
4     GOOGL 2009-01-08
...     ...        ...
3015  GOOGL 2020-12-23
3016  GOOGL 2020-12-24
3017  GOOGL 2020-12-28
3018  GOOGL 2020-12-29
3019  GOOGL 2020-12-30

[3020 rows x 2 columns]

In [116]:
final.to_csv('all_sp500_ta.csv')